.white-link {
    color: var(--white-text);
}

.white-link.active {
    color: var(--dark-green-text) !important;
}

.green-link {
    color: var(--dark-green-text) !important;
}
.green-link:hover {
    color: var(--grey-text) !important;
}